.card {
  background-color: white;

  &__img {
    object-fit: contain;
    width: 174px;
  }

  &__wrapper {
    padding: 10px;
  }

  &__link {
    text-decoration: none;
    color: dodgerblue;
  }

  &__link:hover {
    color: chocolate;
  }
}