.characters {
  display: flex;
  justify-content: center;
  background-color: #1e90ff;

  &__list {
    margin: 50px;
    width: 1200px;
    list-style-type: none;
  }

  &__scroll {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;
    margin: 20px 30px;
    width: 180px;
    border: solid 3px #000;
    box-sizing: border-box;
  }
}